ul, ol {
  margin: 1rem;

  & li {
    margin-bottom: 1rem;
  }
}

p + p, p + ol, p + ul, p + pre {
  margin-top: 1rem;
}

pre + p, ul + p, ul + ol {
  margin-top: 1.5rem;
}

h4 {
  margin: 1.5rem 0 1rem;
  color: var(--secondary-color);
}

h2 {
  margin-bottom: 1.5rem;
}

p + h3, ul + h3, p + h2, ul + h4 {
  margin-top: 2rem;
}

ul + h2 {
  margin-top: 2.5rem;
}

ul +p + ul {
  margin-top: 1.6rem;
}

ul + p + h3 {
  margin-top: 3rem;
}

h3 + p {
  margin-top: 1rem;
}

hr {
  margin-block: 1rem;
}

.install {
  & p {
    margin-bottom: 1rem;
  }

  & code {
    color: rgb(192, 192, 192);
    margin-left: 1rem;
    padding: 8px;
    background-color: #333;
    border-radius: 8px;
  }
}

.about {
  & h3 {
    color: var(--secondary-color);
  }
}

.youtube, .web {
  & section {
    max-height: 700px !important;
  }
}