form {
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 77px;
  user-select: none;
}

p {
  padding: 1rem 0 2rem;

  & span {
    animation: fadeIn 1s ease-in-out;
  }
}

div {
  flex-basis: 100%;
  margin-top: 4px;
  margin-left: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

label {
  margin-left: 8px;
  margin-right: 20px;
}